body {
  background-color: #016f32;
  text-align: center;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  font-weight: bold;
  background-size: cover;
  margin-top: 50px;
}
h1 {
  color: goldenrod;
}
#message-el {
  font-style: italic;
}
button {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
}
